SECRET_KEY='key'
PROJECT_NAME='movies'
POSTGRES_NAME='postgres'
POSTGRES_USER='postgres'
POSTGRES_PASSWORD='postgres'
DB_HOST="auth_db"
DB_PORT=5432
REDIS_HOST=redis
REDIS_PORT=6379
ACCESS_EXPIRES_IN_SECONDS=3600
REFRESH_EXPIRES_IN_SECONDS=7776000
SUPERUSER_LOGIN='admin'
SUPERUSER_PASS='1234'
SERVICE_URL='http://nginx:80'

YANDEX_ID='b7835873699d4da8bdb3f5736313e1e7'
YANDEX_SECRET='25f1a435daa1477ea32a66b9c0b9e75b'
YANDEX_REDIRECT_URI='http://localhost/v1/login_oauth/yandex/end'

GOOGLE_ID='964793851838-rg0mmuh52okm2vc054v50rbdv0hlj0fg.apps.googleusercontent.com'
GOOGLE_SECRET='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'
GOOGLE_REDIRECT_URI='http://localhost/v1/login_oauth/google/end'

RATELIMIT_STORAGE_URL='redis://redis:6379'

JAEGER_HOST='jaeger'
JAEGER_PORT=6831
ENABLE_TRACER=True