<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" id="favicon" />
    <!-- href="/static/game/img/LOGO.AVIF" -->
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
    <script src="https://kit.fontawesome.com/1d580faad2.js" crossorigin="anonymous"></script>
    <title>Welcome to Cinema together!</title>
</head>

<body>
    {{ room_id|json_script:"room_id" }} {{ request.user.profile.external_access_token|json_script:"external_access_token" }}
    <script>
        const room_id = JSON.parse(document.getElementById("room_id").textContent);
        const external_access_token = JSON.parse(document.getElementById("external_access_token").textContent);
        document.cookie = 'Authorization= Bearer ' + external_access_token + '; path=/';
        console.log(room_id, external_access_token)
        async function create_socket() {
            teamSocket = new WebSocket(
                "ws://" + window.location.host + "/ws/" + `${room_id}`
            );
            teamSocket.onmessage = socket_onmessage;
        }
        async function socket_onmessage(e) {
            const data = JSON.parse(e.data);
            console.log(data);
        }
        create_socket();
    </script>
</body>

</html>